// <!--Sc Blog CSS -->
.sc-heading-area {
    .active {
        color: $primaryColor;
    }
}
.sc-blog-item {
    img {
        margin-bottom: 15px;
    }

    .sc-blog-text {
        display: block;
        margin-bottom: 25px;
        padding-top: 22px;
        .title {
            color: $titleColor;
            font-size: 30px;
            line-height: 40px;
            display: block;
            margin-bottom: 15px;
            &:hover {
                color: $primaryColor;
            }
        }
    }
    .sc-blog-btn {
        .sc-transparent-btn {
            color: #6a6c71;
            padding: 12px 35px;
            &:hover {
                color: #fff;
            }
        }
    }
    .des {
        margin-bottom: 24px;
    }
}
.sc-blog-date-box {
    display: flex;
    position: relative;
    margin-top: -30px;
    align-items: flex-end;
    height: 45px;
    .sc-blog-text {
        margin-top: 20px;
    }
    .sc-blog-social {
        position: relative;
        padding-bottom: 9px;
        background: #fff;
        padding: 9px 20px;
        box-shadow: 0px 1px 4px rgba(3, 4, 27, 0.06);
        ul {
            li {
                display: inline-block;
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
                i {
                    color: $primaryColor;
                    position: relative;
                    top: 3px;
                    margin-right: 5px;
                }
                .icon-consoltancy {
                    font-size: 17px;
                    top: 2px;
                }
            }
            .icon-consoltancy {
                font-size: 14px;
            }
        }
    }
    .sc-date-box {
        background: $primaryColor;
        display: inline-block;
        position: relative;
        min-width: 70px;
        height: 80px;
        padding-top: 8px;
        text-align: center;
        margin-top: -18px;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 5px;
            background: #ff6977;
        }
        .title {
            font-weight: 700;
            font-size: 27px;
            color: #fff;
            margin-bottom: 0;
        }
        .sub-title {
            text-transform: uppercase;
            color: #fff;
        }
    }
}
.sc-blog-style2 {
    .sc-blog-date-box {
        .sc-blog-social {
            a {
                color: #6a6c71;
                font-size: 14px;
                transition: 0.4s;
                &:hover {
                    color: #e42032;
                }
            }
        }
    }
}

// sc-blog-content-area
.sc-blog-item {
    .sc-blog-text,
    .sc-blog-date-box {
        margin-left: 12px;
    }
    .sc-blog-text {
        position: relative;
        a {
            color: $titleColor;
        }
        .title {
            font-size: 24px;
        }
    }
}
.sc-blog-video-image {
    position: relative;
    .sc-blog-video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        i {
            font-size: 25px;
            color: #fff;
            width: 80px;
            height: 80px;
            line-height: 74px;
            text-align: center;
            display: inline-block;
            border: 5px solid rgba($color: #fff, $alpha: 0.5);
            border-radius: 50%;
        }
    }
}
.sc-blog-navigation {
    .list-gap {
        li {
            display: inline-block;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
            a {
                text-transform: uppercase;
                color: $titleColor;
                font-weight: 600;
                font-size: 14px;
                text-align: center;
                &:hover {
                    color: $bodyColor;
                }
            }
        }
        li:not(.next) {
            &:not(.prev) {
                a {
                    width: 50px;
                    height: 56px;
                    line-height: 56px;
                    border-radius: 25px;
                    border: 2px solid #eef0f1;
                    display: inline-block;
                    &.active,
                    &:hover {
                        background: $primaryColor;
                        border-color: $primaryColor;
                        color: #fff;
                    }
                }
                &:hover,
                &.active {
                    a {
                        background: $primaryColor;
                        border-color: $primaryColor;
                        color: #fff;
                    }
                }
            }
        }
    }
}
.sc-blog-style2 {
    .sc-blog-date-box {
        position: relative;
        margin: -58px 20px 0;
        margin-left: 12px;
    }
    .sc-blog-text {
        background: #f7f7f7;
        padding: 25px 20px 0px;
        margin-bottom: 0;
        margin-top: 25px;
        position: relative;
        border-left: 3px solid #6a6c71;
        .title {
            color: $titleColor;
            &:hover {
                color: $primaryColor;
            }
        }
    }
    .sc-blog-btn {
        margin-top: 20px;
        .sc-transparent-btn {
            margin-bottom: -30px;
            background: #fff;
        }
    }
}
.sc-blog-slider {
    .sc-blog-style2 {
        padding-bottom: 24px;
    }
}
