// <!--Sc breadcrumb CSS -->
.sc-breadcrumb-style {
    .breadcrumbs-content {
        font-size: 0;
        color: $bodyColor;
        color: #fff;
        background: $secondaryColor;
        display: inline-block;
        padding: 9px 22px 3px;
        border-left: 2px solid #e42032;
    }
    span > a,
    span > a span,
    span > span {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
    }
    span > a {
        color: $titleColor;
        position: relative;
        padding-right: 24px;
        margin-right: 10px;
        &::before {
            position: absolute;
            right: 0;
            top: 7px;
            width: 12px;
            height: 2px;
            background: #fff;
            content: "";
        }
    }
}
